ion-item {
    --padding-start: 8px;
}

.gliderRow {
    max-height: 0px;
    line-height: 60px;
    margin-top: -42px;
}

.gliderRow .item-native {
    max-height: 50px !important;
}

.gliderRow span {
    overflow-x: hidden;
    text-overflow: ellipsis;
    width: 240px;
    white-space: nowrap;
    display: inline-block;
}

.gliderRow .gliderTandem{
    width: 75px;
}

.gliderRow .gliderNbFlights {
    width: 60px;
}

.gliderRow .gliderTime {
    width: 95px;
}

.export-buttons ion-button {
    width: 100%;
    height: 36px;
}

ion-grid, ion-col {
    padding-top: 0;
    padding-bottom: 0;
}

ion-item {
    --min-height: 48px;
}

@media (max-width:360px) {
    .gliderRow .gliderName{
        width: 185px;
    }
}


.action-row {
    padding-right: 15px;
}

@media (min-width: 750px) {
    .action-row {
        padding-right: 0;
    }
}
