<ion-header>
  <ion-toolbar color='primary'>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ 'groupname.glider' | translate }} <span
        *ngIf="filtered()">({{ 'groupname.filtered' | translate }})</span></ion-title>
    <ion-buttons slot="primary">
      <ion-button class="submit-button" [routerLink]="['/gliders/add']">
        <ion-icon name="add"></ion-icon>
      </ion-button>
      <ion-button (click)="openFilter()">
        <ion-icon name="filter-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="no-padding">
  <ion-item class="export-buttons" *ngIf="gliders().length > 0">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button (click)="xlsxExport()">Xlsx Export</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
  <ion-list>
    @for (glider of gliders(); track glider.id) {
      <ion-item button detail (click)="itemTapped($event, glider)">
        <p class="gliderRow">
          <span class="gliderName">{{ glider.brand}} {{glider.name}}</span>
          <span class="gliderTandem" *ngIf="glider.tandem; else noTandem">{{ 'buttons.yes' | translate }}</span>
          <ng-template #noTandem><span class="gliderTandem">{{ 'buttons.no' | translate }}</span></ng-template>
          <span class="gliderNbFlights">{{ glider.nbFlights }}</span>
          <span class="gliderTime">{{ glider.time || "0" | hoursFormat }}</span>
        </p>
        <ion-icon item-end></ion-icon>
      </ion-item>
    }
    @empty {
      <ion-item lines="none">
        <ion-label class="ion-text-center">{{ 'emptylist' | translate }}</ion-label>
      </ion-item>
    }
  </ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="{{ 'loading.loading' | translate }}">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
