<ion-header>
  <ion-toolbar color='primary'>
    <ion-buttons slot="start">
      <ion-back-button defaultHref='flights'></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'groupname.flight' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <fb-file-input *ngIf="flight && !flight.igc" (onFilesSelectEvent)="onFilesSelectEvent($event)"></fb-file-input>
  <flight-form [flight]=flight [gliders]=gliders [igcFile]=igcFile (saveFlight)="saveFlight($event)"></flight-form>
  <ion-button class="copy" expand="block" (click)="copy()" >{{ 'buttons.copy' | translate }}</ion-button>
  <ion-button class="delete" expand="block" color="danger" (click)="delete()" >{{ 'buttons.delete' | translate }}</ion-button>
</ion-content>
