ion-list {
  padding-top: 0;
}

ion-item {
  --padding-start: 0;
  --inner-padding-end: 0;
}

ion-grid {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
}

.flight-meta {
  color: var(--ion-color-medium-shade);
  text-align: left;
  padding-left: 5px;
  font-size: 0.9em;

  .flight-number {
    color: var(--ion-color-dark-shade);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80px;

    .flight-igc {
      margin-right: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  // Special case for iOS
  &:host-context(.ios) .flight-number .flight-igc {
    margin-right: 0px;
  }

  .flight-date {
    white-space: nowrap;
    width: 80px;
  }
}

.flight-details {
  font-size: 0.9em;

  .location,
  .glider {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .location {
    color: var(--ion-color-primary);

    ion-icon[name="arrow-forward-outline"] {
      font-size: 0.7em;
      margin-left: 3px;
      margin-right: 3px;
    }

    nxt-flag {
      margin-right: 3px;
    }
  }

  .glider {
    color: var(--ion-color-medium-shade);
    display: flex;
    align-items: center;

    ion-icon {
      margin-right: 4px;
    }
  }
}

.flight-stats {
  font-size: 0.8em;
  color: var(--ion-color-dark-shade);

  ion-col {
    display: flex;
    align-items: center;
  }

  ion-icon {
    margin-right: 4px;
    font-size: 1.1em;
  }

  ion-icon[name="arrow-forward-outline"] {
    font-size: 0.9em;
  }
}

.export-buttons ion-button {
  width: 100%;
  height: 36px;
}

ion-grid,
ion-col {
  padding-top: 0;
  padding-bottom: 0;
}

ion-item {
  --min-height: 48px;
}

ion-item-sliding.validated ion-item {
  --background: #e6f9e6 !important;
  /* light green */
  background: #e6f9e6 !important;
}

ion-item-sliding.rejected ion-item {
  --background: #ffe5e5 !important;
  /* light red */
  background: #ffe5e5 !important;
}

// Dark mode styles
@media (prefers-color-scheme: dark) {
  .flight-meta .flight-number {
    color: var(--ion-color-medium-shade);
  }

  .flight-stats {
    color: var(--ion-color-medium-shade);
  }
}