.flightRow {
    max-height: 0px;
    line-height: 60px;
    margin-top: -42px;
}

.flightRow .item-native {
    max-height: 50px !important;
}

.flightRow span {
    overflow-x: hidden;
    text-overflow: ellipsis;
    float: left;
    width: 190px;
    white-space: nowrap;
}

.flightRow .flightDate{
    width: 90px;
}

.flightRow .flightGlider{
    width: 170px;
}