.flightRow {
    max-height: 0px;
    line-height: 60px;
    margin-top: -42px;
}

.flightRow .item-native {
    max-height: 50px !important;
}

.flightRow span {
    overflow-x: hidden;
    text-overflow: ellipsis;
    width: 150px;
    white-space: nowrap;
    display: inline-block;
}

.flightRow .flightDate,
.flightRow .flightTime {
    width: 100px;
}

.flightRow .flightTime {
    margin-left: 10px;
}

.flightRow .flightStart,
.flightRow .flightLanding {
    min-width: 170px;
}

.flightRow .flightKm{
    width: 70px;
}