.autocomplete-list {
    background-color: rgb(247, 244, 244);
    margin-bottom: -8px;
}
ion-icon {
    float: right;
    font-size: 23px;
}
ion-list {
    padding-top: 0;
}
ion-item {
    --background:rgb(247, 244, 244);
}
.value-list {
    width: 98%;
    background-color: rgb(247, 244, 244);
}

