.autocomplete-list {
    margin-bottom: -8px;
}
ion-icon {
    float: right;
    font-size: 23px;
}
ion-list {
    padding-top: 0;
}
.value-list {
    width: 97%;
}
.ios.value-list {
    width: 93%;
}

