.appointmentRow {
    display: inherit;
}

.appointmentRow .state {
    min-width: 80px;
}

.appointmentRow .scheduling {
    min-width: 135px;
}

.appointmentRow .meetingPoint {
    margin-right: 5px;
    min-width: 150px;
}

.appointmentRow .subscription {
    min-width: 38px;
    max-width: 49px;
}

.ios .appointmentRow .subscription {
    min-width: 50px;
}

.appointmentRow.disabled ion-label{
    cursor: default;
    opacity: 0.3;
}
    
ion-content {
    ion-item {
        pointer-events: auto;
    }
}