.appointmentRow .state {
    min-width: 80px;
}

.appointmentRow .scheduling {
    min-width: 170px;
}

.appointmentRow .meetingPoint {
    margin-right: 5px;
    min-width: 150px;
}

.appointmentRow .subscription {
    min-width: 38px;
    max-width: 49px;
}

.ios .appointmentRow .subscription {
    min-width: 50px;
}

.appointmentRow.disabled ion-label{
    cursor: default;
    opacity: 0.3;
}

.language-it {
    .appointmentRow .state {
        min-width: 91px;
    }
    .appointmentRow .scheduling {
        min-width: 178px;
    }
}

.language-en {
    .appointmentRow .state {
        min-width: 90px;
    }

    .appointmentRow .scheduling {
        min-width: 174px;
    }
}

.language-fr {
    .appointmentRow .scheduling {
        min-width: 177px;
    }
}

.appointmentRow ion-label {
    line-height: 47px;
    max-height: 47px;
    margin-top: 0px;
    margin-bottom: 0px;
}
    
ion-content {
    ion-item {
        pointer-events: auto;
    }
}