<ion-header>
  <ion-toolbar color='primary'>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ 'appointment.appointments' | translate }} <span
      *ngIf="filtered">({{ 'groupname.filtered' | translate }})</span></ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="openFilter()">
        <ion-icon name="filter-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="no-padding language-{{currentLang}}">
  <ion-list>
    @for (appointment of appointments; track appointment.id) {
      <ion-item button detail (click)="itemTapped(appointment)" class="appointmentRow" [ngClass]="{'disabled' : isDisabled(appointment)}" >
        <ion-toggle class="subscription" disabled="{{ isDisabled(appointment) }}" checked="{{ isUserSubscribed(appointment) }}" color="primary" (click)="subscriptionClick($event)" (ionChange)="subscriptionChange($event, appointment)"></ion-toggle>
        <ion-label class="state">{{ 'appointment.stateValue.' + appointment.state| translate }}</ion-label>
        <ion-label class="scheduling">{{ appointment.scheduling | date:'EE dd.MM.yyyy HH:mm':'UTC':currentLang}}</ion-label>
        <ion-label class="meetingPoint">{{ appointment.meetingPoint || "-" }}</ion-label>
        <ion-label *ngIf="appointment.instructor" class="instructor">{{ appointment.instructor.firstname }} {{ appointment.instructor.lastname }}</ion-label>
        <ion-label *ngIf="!appointment.instructor" class="instructor">-</ion-label>
        <ion-icon item-end></ion-icon>
      </ion-item>
    }
    @empty {
      <ion-item lines="none">
        <ion-label class="ion-text-center">{{ 'emptylist' | translate }}</ion-label>
      </ion-item>
    }
  </ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="{{ 'loading.loading' | translate }}">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
