<form #form="ngForm" (ngSubmit)="submitForm(form)" *ngIf="flight">
  <ion-item *ngIf="gliders.length > 0">
    <fb-glider-select label="{{ 'flight.glider' | translate }} *" labelPlacement="stacked" style="width: 100%;" [flight]=flight [gliders]=gliders></fb-glider-select>
  </ion-item>
  <ion-item id="flightDateInput">
    <ion-input label="{{ 'flight.date' | translate }} *" labelPlacement="stacked" value="{{ flight.date | date:'dd.MM.yyyy' }}" ></ion-input>
  </ion-item>
  <ion-item>
    <ion-input label="{{ 'flight.start' | translate }}" labelPlacement="stacked" [(ngModel)]="flight.start.name" type="text" name="start" (input)="setFilteredStart($event)"></ion-input>
  </ion-item>
  <autocomplete [search]="searchStart" (setInputValue)="setStartInput($event)"></autocomplete>
  <ion-item>
    <ion-input label="{{ 'flight.landing' | translate }}" labelPlacement="stacked" [(ngModel)]="flight.landing.name" type="text" name="landing" (input)="setFilteredLanding($event)"></ion-input>
  </ion-item>
  <autocomplete [search]="searchLanding" (setInputValue)="setLandingInput($event)"></autocomplete>
  <ion-item id="flightTime">
    <ion-input label="{{ 'flight.time' | translate }}" labelPlacement="stacked" (click)="setDefaultTime()" value="{{ flight.time }}"></ion-input>
    <!-- <ion-popover trigger="flightTime">
      <ng-template>
        <ion-datetime presentation="time" hour-cycle="h23" [ngModelOptions]="{standalone: true}" [(ngModel)]="flight.time" locale="{{ language }}" [showDefaultButtons]="true"
          doneText="{{ 'buttons.done' | translate }}" cancelText="{{ 'buttons.clear' | translate }}" (ionCancel)="cancelButton()" displayFormat="HH:mm">
        </ion-datetime>
      </ng-template>
    </ion-popover> -->
  </ion-item>
  <ion-item *ngIf="flight.glider?.tandem">
    <ion-input label="{{ 'flight.price' | translate }}" labelPlacement="stacked" [(ngModel)]="flight.price" type="number" name="price"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input label="{{ 'flight.km' | translate }}" labelPlacement="stacked" [(ngModel)]="flight.km" type="number" name="km"></ion-input>
  </ion-item>
  @if (schools?.length > 0) {
    <ion-item>
      <ion-input class="shvAlone" label="{{ 'flight.shvAlone' | translate }}" labelPlacement="stacked" type="boolean">
        <ion-toggle slot="start" [(ngModel)]="flight.shvAlone" name="shvAlone"></ion-toggle>
      </ion-input>
    </ion-item>
  }
  <ion-item>
    <ion-textarea label="{{ 'flight.description' | translate }}" labelPlacement="stacked" [(ngModel)]="flight.description" name="description" autocomplete="on" autocorrect="on" auto-grow="true"></ion-textarea>
  </ion-item>

  <fb-igc-map *ngIf="igcFile" [igcFile]="igcFile"></fb-igc-map>

  @if (flight.validation?.state) {
    <ion-item class="validation">
      <ion-label>
        <p style="font-weight: bold;">{{ 'flight.validationState.name' | translate }}:</p>
        <div class="validation-row">
          <span class="validation-label">{{ 'flight.validationState.state' | translate }}:</span>
          <span>{{ 'flight.validationState.' + flight.validation.state| translate }}</span>
        </div>
        @if (flight.validation?.comment) {
          <div class="validation-row">
            <span class="validation-label">{{ 'flight.validationState.comment' | translate }}:</span>
            <span>{{ flight.validation?.comment }}</span>
          </div>
        }
        <div class="validation-row">
          <span class="validation-label">{{ 'flight.validationState.timestamp' | translate }}:</span>
          <span>{{ flight.validation?.timestamp | date:'dd.MM.yyyy' }}</span>
        </div>
        <div class="validation-row">
          <span class="validation-label">{{ 'flight.validationState.school' | translate }}:</span>
          <span>{{ flight.validation?.school?.name }}</span>
        </div>
        <div class="validation-row">
          <span class="validation-label">{{ 'flight.validationState.instructor' | translate }}:</span>
          <span>{{ flight.validation?.instructor?.firstname }} {{ flight.validation?.instructor?.lastname }}</span>
        </div>
      </ion-label>
    </ion-item>
  }

  <ion-button expand="block" type="submit">{{ 'buttons.save' | translate }}</ion-button>
</form>

<ion-modal class="dateModal" trigger='flightDateInput'>
  <ng-template>
    <ion-content>
      <ion-datetime size="cover" presentation="date" [preferWheel]="true" [ngModelOptions]="{standalone: true}" [(ngModel)]="flight.date" locale="{{ language }}" [showDefaultButtons]="true"
          doneText="{{ 'buttons.done' | translate }}" cancelText="{{ 'buttons.cancel' | translate }}">
        </ion-datetime>
    </ion-content>
  </ng-template>
</ion-modal>

<ion-modal class="timeModal" trigger='flightTime'>
  <ng-template>
    <ion-content>
      <ion-datetime size="cover" presentation="time" hour-cycle="h23" [ngModelOptions]="{standalone: true}" [(ngModel)]="flight.time" locale="{{ language }}" [showDefaultButtons]="true"
          doneText="{{ 'buttons.done' | translate }}" cancelText="{{ 'buttons.clear' | translate }}" (ionCancel)="cancelButton()" displayFormat="HH:mm">
        </ion-datetime>
    </ion-content>
  </ng-template>
</ion-modal>