<form #form="ngForm" (ngSubmit)="submitForm(form)" *ngIf="flight">
  <ion-item *ngIf="gliders.length > 0">
    <ion-label color="primary" position="stacked">{{ 'flight.glider' | translate }}<span style="color:red"> *</span></ion-label>
    <fb-glider-select style="width: 100%;" [flight]=flight [gliders]=gliders></fb-glider-select>
  </ion-item>
  <ion-item id="flightDateInput">
    <ion-label color="primary" position="stacked">{{ 'flight.date' | translate }}<span style="color:red"> *</span></ion-label>
    <ion-input value="{{ flight.date | date:'dd.MM.yyyy' }}" ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label color="primary" position="stacked">{{ 'flight.start' | translate }}</ion-label>
    <ion-input [(ngModel)]="flight.start.name" type="text" name="start" (input)="setFilteredStart($event)"></ion-input>
  </ion-item>
  <autocomplete [search]="searchStart" (setInputValue)="setStartInput($event)"></autocomplete>
  <ion-item>
    <ion-label color="primary" position="stacked">{{ 'flight.landing' | translate }}</ion-label>
    <ion-input [(ngModel)]="flight.landing.name" type="text" name="landing" (input)="setFilteredLanding($event)">
    </ion-input>
  </ion-item>
  <autocomplete [search]="searchLanding" (setInputValue)="setLandingInput($event)"></autocomplete>
  <ion-item id="flightTime">
    <ion-label color="primary" position="stacked">{{ 'flight.time' | translate }}</ion-label>
    <ion-input (click)="setDefaultTime()" value="{{ flight.time }}"></ion-input>
    <!-- <ion-popover trigger="flightTime">
      <ng-template>
        <ion-datetime presentation="time" hour-cycle="h23" [ngModelOptions]="{standalone: true}" [(ngModel)]="flight.time" locale="{{ language }}" [showDefaultButtons]="true"
          doneText="{{ 'buttons.done' | translate }}" cancelText="{{ 'buttons.clear' | translate }}" (ionCancel)="cancelButton()" displayFormat="HH:mm">
        </ion-datetime>
      </ng-template>
    </ion-popover> -->
  </ion-item>
  <ion-item *ngIf="flight.glider?.tandem">
    <ion-label color="primary" position="stacked">{{ 'flight.price' | translate }}</ion-label>
    <ion-input [(ngModel)]="flight.price" type="number" name="price"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label color="primary" position="stacked">{{ 'flight.km' | translate }}</ion-label>
    <ion-input [(ngModel)]="flight.km" type="number" name="km"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label color="primary" position="stacked">{{ 'flight.description' | translate }}</ion-label>
    <ion-textarea [(ngModel)]="flight.description" name="description" autocomplete="on" autocorrect="on" auto-grow="true"></ion-textarea>
  </ion-item>

  <fb-map *ngIf="igcFile" [igcFile]="igcFile"></fb-map>

  <ion-button expand="block" type="submit">{{ 'buttons.save' | translate }}</ion-button>
</form>

<ion-modal class="dateModal" trigger='flightDateInput'>
  <ng-template>
    <ion-content>
      <ion-datetime size="cover" presentation="date" [ngModelOptions]="{standalone: true}" [(ngModel)]="flight.date" locale="{{ language }}" [showDefaultButtons]="true"
          doneText="{{ 'buttons.done' | translate }}" cancelText="{{ 'buttons.cancel' | translate }}">
        </ion-datetime>
    </ion-content>
  </ng-template>
</ion-modal>

<ion-modal class="timeModal" trigger='flightTime'>
  <ng-template>
    <ion-content>
      <ion-datetime size="cover" presentation="time" hour-cycle="h23" [ngModelOptions]="{standalone: true}" [(ngModel)]="flight.time" locale="{{ language }}" [showDefaultButtons]="true"
          doneText="{{ 'buttons.done' | translate }}" cancelText="{{ 'buttons.clear' | translate }}" (ionCancel)="cancelButton()" displayFormat="HH:mm">
        </ion-datetime>
    </ion-content>
  </ng-template>
</ion-modal>