flight-form {
    .datetime-md {
        padding: 13px 8px 13px 7px;
        display: block;
        width: calc(100% - 109px);
    }
    .select-md {
        width: 100%;
        max-width: calc(100% - 109px);
        padding: 13px 8px 13px 7px;
    }
    // ion-label {
    //     min-width: 139px;
    // }
    .text-input-ios {
        text-align: right;
    }

    .label {
        width: 100px;
    }
}
