<ion-header>
  <ion-toolbar color='primary'>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ 'groupname.flight' | translate }} <span
        *ngIf="filtered">({{ 'groupname.filtered' | translate }})</span></ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="openFilter()">
        {{ 'buttons.filter' | translate }}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div id="basic-stat">
    <div><label>{{ 'statistics.nbflight' | translate }}:</label><span id="nbFlights">{{ statistics.nbFlights || "0" }}</span></div>
    <div><label>{{ 'statistics.flighthour' | translate }}:</label><span
        id="totalTime">{{ statistics.time || "0" | hoursFormat }}</span></div>
    <div><label>{{ 'statistics.average' | translate }}:</label><span
        id="averageTime">{{ statistics.average || "0" | hoursFormat }}</span></div>
    <div><label>{{ 'statistics.price' | translate }}:</label><span id="income">{{ statistics.income || "0" }}</span></div>
  </div>

  <bar-chart #flightChart chartType="nbFlights"></bar-chart>
  <bar-chart #incomeChart chartType="income"></bar-chart>
</ion-content>