#basic-stat {
    font-size: 1.1em;
    margin-top: 12px;
}
#basic-stat label {
    display: inline-block;
    width: 165px;
}

.action-row {
    padding-right: 12px;
}
@media (min-width: 750px) {
    .action-row {
        padding-right: 0;
    }
}

@media (max-width: 300px) {
    .action-row {
        padding-right: 5px;
    }
}
