<ion-header>
  <ion-toolbar color='primary'>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ 'groupname.flight' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <fb-file-input (onFileSelectEvent)="onFileSelectEvent($event)" (fileContent)="prefillWithIGCData($event)"></fb-file-input>
  <flight-form [flight]=flight [gliders]=gliders [igcFile]=igcFile (saveFlight)="saveFlight($event)"></flight-form>
</ion-content>