<ion-header>
  <ion-toolbar color='primary'>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ 'controlSheet.title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="no-padding">
  <ion-accordion-group [multiple]="true" [value]="['theory', 'trainingHill', 'altitudeFlight']">
    <ion-accordion value="theory">
      <ion-item slot="header" color="light">
        <ion-label>{{ 'controlSheet.theory.title' | translate }}</ion-label>
      </ion-item>
      <ion-list slot="content">
        <ng-container *ngFor="let item of controlSheet?.theory | keyvalue">
          <ion-item *ngIf="item.key != 'id'">
            <ion-button class="star-button" fill="clear" (click)="openRateAlert($event, item.value, 'controlSheet.theory.' + item.key, controlSheet.theory, item.key)"><fb-star-rating [edit]="false" [selectedRating]="item.value"></fb-star-rating></ion-button>
            <span class="definition">{{ ('controlSheet.theory.' + item.key) | translate }}</span>
          </ion-item>
        </ng-container>
      </ion-list>
    </ion-accordion>
    <ion-accordion value="trainingHill">
      <ion-item slot="header" color="light">
        <ion-label>{{ 'controlSheet.trainingHill.title' | translate }}</ion-label>
      </ion-item>
      <ion-list slot="content">
        <ng-container *ngFor="let item of controlSheet?.trainingHill | keyvalue | nxgTransalteSort:'trainingHill'">
          <ion-item button *ngIf="item.key != 'id'" (click)="openDetail('trainingHill',item.key)">
            <ion-button class="star-button" fill="clear" (click)="openRateAlert($event, item.value, 'controlSheet.trainingHill.' + item.key + '.title', controlSheet.trainingHill, item.key)"><fb-star-rating [edit]="false" [selectedRating]="item.value"></fb-star-rating></ion-button>
            <span class="definition">{{ ('controlSheet.trainingHill.' + item.key + '.title') | translate }}</span>
          </ion-item>
        </ng-container>
      </ion-list>
    </ion-accordion>
    <ion-accordion value="altitudeFlight">
      <ion-item slot="header" color="light">
        <ion-label>{{ 'controlSheet.altitudeFlight.title' | translate }}</ion-label>
      </ion-item>
      <ion-list slot="content">
        <ng-container *ngFor="let item of controlSheet?.altitudeFlight | keyvalue | nxgTransalteSort:'altitudeFlight'">
          <ion-item button *ngIf="item.key != 'id'" (click)="openDetail('altitudeFlight',item.key)">
            <ion-button class="star-button" fill="clear" (click)="openRateAlert($event, item.value, 'controlSheet.altitudeFlight.' + item.key + '.title', controlSheet.altitudeFlight, item.key)"><fb-star-rating [edit]="false" [selectedRating]="item.value" ></fb-star-rating></ion-button>
            <span class="definition">{{ ('controlSheet.altitudeFlight.' + item.key + '.title') | translate }}</span>
          </ion-item>
        </ng-container>
      </ion-list>
    </ion-accordion>
  </ion-accordion-group>
</ion-content>

<ion-modal #starModal [initialBreakpoint]="0.15" [breakpoints]="[0, 0.25, 0.5, 0.75]">
  <ng-template>
    <ion-content class="startRatingModal">
      <h2>{{ starRating.translationKey | translate }}</h2>
      <fb-star-rating [edit]="true" [selectedRating]="starRating.currentValue" (selectEvent)="saveRating($event)"></fb-star-rating>
    </ion-content>
  </ng-template>
</ion-modal>