@media (prefers-color-scheme: dark) {
  :root {
    ion-select::part(text) {
      color: var(--ion-color-primary-contrast);
    }

    /* @TODO -> can be removed in an upcoming ionic version */
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255, 255, 255;
  }
}

// ------ custom css ------
.emptylist {
  text-align: center;
  margin-top: 2em;
}

.ios ion-content {
  pointer-events: auto;
}

ion-modal.dateModal {
  --background: transparent;
  --max-width: 420px;
  --min-width: 300px;
  --max-height: 255px;
}

.ios .dateModal ion-content {
  --background: transparent;
}

// Label color
.label-text-wrapper {
  color: var(--ion-color-primary) !important;
}

ion-select {
  color: var(--ion-color-primary);
}

ion-select::part(text) {
  color: black;
}