.language-list, .forgot-password {
    text-align: center;
}

.language {
    margin-right: 1em;
    cursor: pointer;
}

.forgot-password {
    cursor: pointer;
}

#loginForm {
    margin-top: 2em;
}

.submit-button {
    margin-top: 15px;
}