<div>
    <div class="menu-item-wrap">
        @if (isIos) {
            <label class="custom-file-upload">
                @if (multiple) {
                    <ion-button color="primary" class="upload-btn" (click)="onIosFilesSelect()">
                        <ion-icon name="document"></ion-icon> IGC
                    </ion-button>
                } @else {
                    <ion-button color="primary" class="upload-btn" (click)="onIosFilesSelect()">
                        <ion-icon name="document"></ion-icon> IGC
                    </ion-button>
                }
            </label>
        } @else {
            <label class="custom-file-upload">
                @if (multiple) {
                    <ion-button color="primary" class="upload-btn" (click)="fileUpload.click()">
                        <input multiple type="file" name="file" (change)="onFilesSelect($event)" #fileUpload />
                        <ion-icon name="document"></ion-icon> IGC
                    </ion-button>
                } @else {
                    <ion-button color="primary" class="upload-btn" (click)="fileUpload.click()">
                        <input type="file" name="file" (change)="onFilesSelect($event)" #fileUpload />
                        <ion-icon name="document"></ion-icon> IGC
                    </ion-button>
                }
            </label>
        }
    </div>
</div>