.divider-menu{
    height: 27px;
    padding-left: 16px;
    padding-top: 1px;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: rgb(72, 138, 255);
    line-height: 25px;
    font-size: 16px;
    color: rgb(255, 255, 255);
}