<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-header>
        <ion-toolbar color='primary'>
          <ion-title>{{ 'groupname.menu' | translate }}</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list id="inbox-list">
          <ion-menu-toggle auto-hide="false">
            <ion-item routerDirection="root" [routerLink]="['/news']" lines="full" detail="false" replaceUrl="true">
              <fb-menu-item [icon]="'home'" [label]="'groupname.home'"></fb-menu-item>
            </ion-item>
          </ion-menu-toggle>
          <p class="divider-menu">{{ 'groupname.flight' | translate }}</p>
          <ion-menu-toggle auto-hide="false">
            <ion-item routerDirection="root" [routerLink]="['/flights']" lines="full" detail="false" replaceUrl="true">
              <fb-menu-item [icon]="'flight'" [label]="'groupname.flight'"></fb-menu-item>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <ion-item routerDirection="root" [routerLink]="['/gliders']" lines="full" detail="false" replaceUrl="true">
              <fb-menu-item [icon]="'glider'" [label]="'groupname.glider'"></fb-menu-item>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <ion-item routerDirection="root" [routerLink]="['/places']" lines="full" detail="false" replaceUrl="true">
              <fb-menu-item [icon]="'place'" [label]="'groupname.place'"></fb-menu-item>
            </ion-item>
          </ion-menu-toggle>

          <ion-menu-toggle auto-hide="false">
            <ion-item routerDirection="root" [routerLink]="['/flights/statistic']" lines="full" detail="false" replaceUrl="true">
              <fb-menu-item [icon]="'stats-chart'" [label]="'buttons.statistics'"></fb-menu-item>
            </ion-item>
          </ion-menu-toggle>
          <p class="divider-menu">{{ 'groupname.import' | translate }}</p>
          <ion-menu-toggle auto-hide="false">
            <ion-item routerDirection="root" [routerLink]="['/imports/igc']" lines="full" detail="false" replaceUrl="true">
              <fb-menu-item [icon]="'cloud-upload'" [label]="'buttons.multipleIgc'"></fb-menu-item>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <ion-item routerDirection="root" [routerLink]="['/imports/data']" lines="full" detail="false" replaceUrl="true">
              <fb-menu-item [icon]="'cloud-upload'" [label]="'buttons.data'"></fb-menu-item>
            </ion-item>
          </ion-menu-toggle>
          @if (schools?.length > 0 || hasControlSheet) {
            <p class="divider-menu">{{ 'groupname.school' | translate }}</p>
            @for (school of schools; track school.id) {
              <ion-menu-toggle auto-hide="false">
                <ion-item routerDirection="root" [routerLink]="['/school/', school.id]" lines="full" detail="false" replaceUrl="true">
                  <fb-menu-item [icon]="'school'" [label]="school.name"></fb-menu-item>
                </ion-item>
              </ion-menu-toggle>
            }
            @if (hasControlSheet) {
              <ion-menu-toggle auto-hide="false">
                <ion-item routerDirection="root" [routerLink]="['/control-sheet']" lines="full" detail="false" replaceUrl="true">
                  <fb-menu-item [icon]="'document'" [label]="'buttons.controlSheet'"></fb-menu-item>
                </ion-item>
              </ion-menu-toggle>
            }
          }
          <p class="divider-menu">{{ 'groupname.preparation' | translate }}</p>
          <ion-menu-toggle auto-hide="false">
            <ion-item (click)="openBrowser('shvWeather')" lines="full" detail="false">
              <fb-menu-item [icon]="'link-outline'" [label]="'buttons.shvWeather'"></fb-menu-item>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <ion-item (click)="openBrowser('dabsToday')" lines="full" detail="false">
              <fb-menu-item [icon]="'link-outline'" [label]="'buttons.dabsToday'"></fb-menu-item>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <ion-item (click)="openBrowser('dabsTomorrow')" lines="full" detail="false">
              <fb-menu-item [icon]="'link-outline'" [label]="'buttons.dabsTomorrow'"></fb-menu-item>
            </ion-item>
          </ion-menu-toggle>
          <p class="divider-menu">{{ 'groupname.account' | translate }}</p>
          <ion-menu-toggle auto-hide="false">
            <ion-item routerDirection="root" [routerLink]="['/settings']" lines="full" detail="false" replaceUrl="true">
              <fb-menu-item [icon]="'settings'" [label]="'buttons.settings'"></fb-menu-item>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <ion-item routerDirection="root" [routerLink]="['/password']" lines="full" detail="false" replaceUrl="true">
              <fb-menu-item [icon]="'ellipsis-horizontal'" [label]="'login.password'"></fb-menu-item>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <ion-item routerDirection="root" [routerLink]="['/login']" (click)="logout()" lines="full" detail="false" replaceUrl="true">
              <fb-menu-item [icon]="'log-out-outline'" [label]="'buttons.logout'"></fb-menu-item>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet (activate)="subscribeToEmmiter($event)" id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
