.news-container {
    display: inline-grid;
    .news {
        margin-bottom: 1vw;
    }
}

@media only screen and (min-width: 1800px) {
    .news-container {
        width:100%;
        padding: 0 1.5vw 0 1.5vw;
        .news {
            margin-bottom: 1vw;
        }
    }
}
@media only screen and (min-width: 450px) {
    .news-container {
        width:100%;
        padding: 0 1.5vw 0 1.5vw;
        .news {
            margin-bottom: 1vw;
        }
    }
}
.news .title {
    font-weight: bold;
    line-height: 0;
    margin:20px;
    font-size: 1.1em;
}
.news .description {
    margin: 20px;
    font-size: 1.1em;
}
