.news-container {
    display: inline-block;
    margin: -15px -5px 0px -5px;
}

@media only screen and (min-width: 1600px) {
    .news-container {
        display: grid;
    }
}

.news .title {
    font-weight: bold;
    line-height: 0;
    margin:20px;
    font-size: 1.1em;
}
.news .description {
    margin: 20px;
    font-size: 1.1em;
}
