<ion-header>
  <ion-toolbar color='primary'>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ 'groupname.news' | translate }}</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="xlsxExport()">
        <ion-icon name="download-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <div class="news" *ngFor="let n of newsData$ | async">
      <ion-card>
      <p class="title"><span>{{ n.date | date:'dd.MM.yyyy'}}:</span> {{ n.title }}</p>
      <p class="content" [innerHTML]="n.text"></p>
      </ion-card>
    </div>
</ion-content>
