<ion-header>
  <ion-toolbar color='primary'>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ 'groupname.home' | translate }}</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="xlsxExport()">
        <ion-icon name="download-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="dashboard">
      <ion-card class="squared">
        <div class="content"><ion-icon [routerLink]="['/flights/add']" name="add-circle-outline"></ion-icon></div>
        <div class="title">Add flight</div>
      </ion-card>
        <ion-card class="squared">
          <div class="content">{{(amountOfFlights$  | async)?.length }}</div>
          <div class="title">Amount of flights</div>
        </ion-card>
    <ion-card class="squared">
      <div class="content"><ion-icon name="place"></ion-icon></div>
      <div class="title">Last Location: Fiescheralp</div>
    </ion-card>
  </div>
    <div class="news" *ngFor="let n of newsData$ | async">
      <ion-card>
      <p class="title"><span>{{ n.date | date:'dd.MM.yyyy'}}:</span> {{ n.title }}</p>
      <p class="content" [innerHTML]="n.text"></p>
      </ion-card>
    </div>
</ion-content>
