<ion-header>
  <ion-toolbar color='primary'>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ 'buttons.multipleIgc' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <fb-file-input [multiple]="true" (onFilesSelectEvent)="onFilesSelectEvent($event)"></fb-file-input>

  @if (flightStateList && flightStateList.length > 0) {
    <ion-list>
      @for (flightSate of flightStateList; track flightSate; let i = $index) {
        <ion-item [attr.data-index]="i">
          @if (flightSate.state == state.LOADING) {
            <ion-spinner class=loadingSpinner name="lines"></ion-spinner>
          } @else {
            <span class="info glider">
              <fb-glider-select [flight]=flightSate.flight [gliders]=gliders></fb-glider-select>
            </span>
            <span class="info date">{{ flightSate.flight.date | date:'dd.MM.yyyy' }}</span>
            <span class="info time">{{ flightSate.flight.time }}</span>
            <span class="info start">{{ flightSate.flight.start?.name }}</span>
            <span class="info km">{{ flightSate.flight.km }}km</span>
            @if (flightSate.state != state.SAVED && flightSate.state != state.ERROR) {
              <ion-button color="danger" slot="end" (click)="removeFlight(i)">
                <ion-icon name="trash-outline"></ion-icon>
              </ion-button>
            }
            @if (flightSate.state == state.SAVED) {
              <ion-icon slot="end" color="success" name="cloud-done-outline"></ion-icon>
            }
            @if (flightSate.state == state.ERROR) {
              <ion-icon slot="end" color="danger" name="alert"></ion-icon>
            }
          }
        </ion-item>
      }
    </ion-list>
  }
  @if (isSaved) {
    <ion-button expand="block" (click)="clear()">{{ 'buttons.clear' | translate }}</ion-button>
  } @else {
    <ion-button expand="block" (click)="save()">{{ 'buttons.save' | translate }}</ion-button>
  }

</ion-content>