<ion-header>
  <ion-toolbar color='primary'>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ 'buttons.accountData' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  @if (user) {
    <form #form="ngForm" (ngSubmit)="saveSettings()">
    <ion-item class="error-item">
      <ion-input label="{{ 'account.firstname' | translate }}" labelPlacement="stacked" [(ngModel)]="user.firstname" #firstname="ngModel" required name="firstname" type="text"></ion-input>
      @if (firstname.invalid && (firstname.dirty || firstname.touched)) {
        <ion-text color="danger" class="error-text">{{ 'message.required' | translate }}</ion-text>
      }
    </ion-item>
    <ion-item class="error-item">
      <ion-input label="{{ 'account.lastname' | translate }}" labelPlacement="stacked" [(ngModel)]="user.lastname" #lastname="ngModel" required name="lastname" type="text"></ion-input>
      @if (lastname.invalid && (lastname.dirty || lastname.touched)) {
        <ion-text color="danger" class="error-text">{{ 'message.required' | translate }}</ion-text>
      }
    </ion-item>
    <ion-item class="error-item">
      <ion-input label="{{ 'login.email' | translate }}" labelPlacement="stacked" [(ngModel)]="user.email" #email="ngModel" required email name="email" type="email"></ion-input>
      @if (email.invalid && (email.dirty || email.touched)) {
        <ion-text color="danger" class="error-text">
          @if (email.errors?.['required']) {
            {{ 'message.required' | translate }}
          } @else if (email.errors?.['email']) {
            {{ 'message.invalidEmail' | translate }}
          }
        </ion-text>
      }
    </ion-item>
    <ion-item class="phone-number">
      <fb-phone-number [(ngModel)]="user.phone" name="phone"></fb-phone-number>
    </ion-item>
    <ion-button expand="block" [disabled]="form.invalid" type="submit">{{ 'buttons.save' | translate }}</ion-button>
    </form>
  }

  <div class="payment-container">
    @if (paymentStatus) {
      <ion-card class="validity">
        @if (!paymentStatus.active && !isNative) {
          <ion-card-content>
            <div [innerHtml]="'payment.noSubscription' | translate"></div>
          </ion-card-content>
        }
        @if (paymentStatus.active && !isNative && paymentStatus.state == 'EXEMPTED') {
          <ion-card-content>
            <div [innerHtml]="'payment.noSubscription' | translate"></div>
          </ion-card-content>
        }
        @if (!paymentStatus.active && isNative) {
          <ion-card-content>
            <div [innerHtml]="'payment.nativeNoSubscription' | translate"></div>
          </ion-card-content>
        }
        @if (paymentStatus.active && paymentStatus.state == 'ACTIVE') {
          <ion-card-content>
            {{ 'payment.information' | translate: { date: paymentStatus.expires_date | date:'dd.MM.yyyy HH:mm':'UTC'} }}
          </ion-card-content>
        }
        @if (paymentStatus.active && paymentStatus.state == 'CANCELED') {
          <ion-card-content>
            {{ 'payment.canceled' | translate: { date: paymentStatus.expires_date | date:'dd.MM.yyyy HH:mm':'UTC'} }}
          </ion-card-content>
        }
        @if (paymentStatus.active && paymentStatus.state == 'ACTIVE') {
          <ion-button expand="block" color="danger" (click)="cancelSubscription()">{{ 'buttons.cancelSubscription' | translate }}</ion-button>
        }
      </ion-card>
    }

    @if ((!paymentStatus?.active && !isNative) || (paymentStatus?.active && !isNative && paymentStatus.state == 'EXEMPTED')) {
      <ion-button expand="block" (click)="getStripeSession()">{{ 'buttons.subscribe' | translate }}</ion-button>
    }
  </div>

  <div class="language-list">
    <p>
      <a (click)="setLanguage('fr')" class="language">{{ 'language.fr' | translate }}</a>
      <a (click)="setLanguage('de')" class="language">{{ 'language.de' | translate }}</a>
      <a (click)="setLanguage('en')" class="language">{{ 'language.en' | translate }}</a>
      <a (click)="setLanguage('it')" class="language">{{ 'language.it' | translate }}</a>
    </p>
  </div>

  <p class="delete-account"><a (click)="deleteAccount()">Delete account</a></p>

</ion-content>
