.language-list {
    text-align: center;
}
.language {
    margin-right: 1em;
    cursor: pointer;
}

.delete-account {
    top: 100%;
    position: sticky;
    margin-top: 30px;
    text-align: center;
    cursor: pointer;
}