<ion-header>
  <ion-toolbar color='primary'>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ 'groupname.account' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form *ngIf="user" (ngSubmit)="saveSettings()">
    <ion-item>
      <ion-input label="{{ 'account.firstname' | translate }}" labelPlacement="stacked" [(ngModel)]="user.firstname" required name="firstname" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="{{ 'account.lastname' | translate }}" labelPlacement="stacked" [(ngModel)]="user.lastname" required name="lastname" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="{{ 'login.email' | translate }}" labelPlacement="stacked" [(ngModel)]="user.email" required name="email" type="email"></ion-input>
    </ion-item>
    <ion-button expand="block" type="submit">{{ 'buttons.save' | translate }}</ion-button>
  </form>

  <ion-card *ngIf="paymentStatus" class="validity">
    <!-- <ion-card-content *ngIf="!paymentStatus.active">
      {{ 'payment.noSubscription' | translate }}
    </ion-card-content> -->
    <ion-card-content *ngIf="paymentStatus.active">
      {{ 'payment.information' | translate: { date: paymentStatus.expires_date | date:'dd.MM.yyyy HH:mm':'UTC'} }}
    </ion-card-content>
  </ion-card>

  <div class="language-list">
    <p>
      <a (click)="setLanguage('fr')" class="language">{{ 'language.fr' | translate }}</a>
      <a (click)="setLanguage('de')" class="language">{{ 'language.de' | translate }}</a>
      <a (click)="setLanguage('en')" class="language">{{ 'language.en' | translate }}</a>
      <a (click)="setLanguage('it')" class="language">{{ 'language.it' | translate }}</a>
    </p>
  </div>

  <p class="delete-account"><a (click)="deleteAccount()">Delete account</a></p>

</ion-content>
