<fb-dashboard-item
        [routerLink]="'/flights/add'"
        [icon]="'flight'"
        [label]="'dashboard.addflight'"
        [isStatistic]="false">
</fb-dashboard-item>
<fb-dashboard-item
        [routerLink]="'/flights/statistic'"
        [label]="'dashboard.amountofflights'"
        [flights$]="flights$"
        [isStatistic]="true">
</fb-dashboard-item>
<fb-dashboard-item
        [icon]="'copyflight'"
        [flights$]="flights$"
        [isStatistic]="false"
        (click)="handleCopyLastFlight()">
</fb-dashboard-item>
