<ion-header>
  <ion-toolbar color='primary'>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ 'groupname.account' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <form (ngSubmit)="savePassword()">
    <ion-item>
      <ion-input label="{{ 'login.oldpassword' | translate }}" labelPlacement="stacked" [(ngModel)]="pwd.oldPassword" required name="oldPassword" type="password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="{{ 'login.newpassword' | translate }}" labelPlacement="stacked" [(ngModel)]="pwd.newPassword" required name="newPassword" type="password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="{{ 'login.confirmpassword' | translate }}" labelPlacement="stacked" [(ngModel)]="pwd.newPassword2" required name="newPassword2" type="password"></ion-input>
    </ion-item>
    <ion-button expand="block" type="submit">{{ 'buttons.save' | translate }}</ion-button>
  </form>

</ion-content>