.map {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 50vh;
  border: 5px solid #555;
}

.range-slider {
  margin-top: 2vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: var(--height);
  cursor: grab;
  touch-action: pan-y;
}
