<div class="square">
    <div class="content">
        <div class="table">
            <ion-card class="dashboard-item"
                      *ngIf="{
                      flights: flights$ | async,
                      flightStatistics: flightStatistics$ | async}
                      as observables"
                      [routerLink]="routerLink">
                <div class="body">
                    <ion-icon *ngIf=icon [name]="icon"></ion-icon>
                    <div class="statistic-tile" *ngIf="observables.flightStatistics">
                        <div class="body">{{observables.flightStatistics[0].nbFlights}}</div>
                    </div>
                </div>
                <div class="title">{{ label | translate }}</div>
                <div class="title" *ngIf="observables.flights">
                    <div *ngIf="observables.flights[0]?.date; else noFlights">{{ 'dashboard.lastflight' | translate }}</div>
                </div>
            </ion-card>
        </div>
    </div>
</div>
<ng-template class="title" #noFlights>{{ 'dashboard.noflights' | translate}}</ng-template>
