<ion-header>
  <ion-toolbar color='primary'>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ 'groupname.place' | translate }}</ion-title>
    <ion-buttons slot="primary">
      <ion-button class="submit-button" [routerLink]="['/places/add']">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="no-padding">
  @if ((places$ | async)?.length > 0) {
    <ion-item class="export-buttons">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button (click)="xlsxExport()">Xlsx Export</ion-button>
          </ion-col>
          <ion-col>
            <ion-button (click)="csvExport()">CSV Export</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  }
  <ion-list>
    @for (place of places$ | async; track place.id) {
      <ion-item button detail (click)="itemTapped($event, place)">
        <p class="placeRow">
          <span class="placeName">{{place.name}}</span>
          <span class="placeAltitude">{{ place.altitude}}</span>
          <span class="placeCountry"><nxt-flag country="{{ place.country}}" size="s"></nxt-flag> {{ getCountryNameByCode(place.country) }}</span>
        </p>
        <ion-icon item-end></ion-icon>
      </ion-item>
    }
    @empty {
      <ion-item lines="none">
        <ion-label class="ion-text-center">{{ 'emptylist' | translate }}</ion-label>
      </ion-item>
    }
  </ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="{{ 'loading.loading' | translate }}">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
