<ion-header>
  <ion-toolbar color='primary'>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ 'groupname.place' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="no-padding">
  <ion-item class="export-buttons" *ngIf="(places$ | async)?.length > 0">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button (click)="xlsxExport()">Xlsx Export</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
  <ion-list *ngIf="(places$ | async)?.length > 0" >
    <ion-item button detail *ngFor="let place of places$ | async" (click)="itemTapped($event, place)">
      <ion-grid>
        <ion-row>
          <ion-col size="9">
            {{place.name}}
          </ion-col>
          <ion-col>
            {{ place.altitude}}
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-icon item-end></ion-icon>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="{{ 'loading.loading' | translate }}">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <p class="emptylist" *ngIf="(places$ | async)?.length == 0">{{ 'emptylist' | translate }}</p>

  <ion-button class="submit-button" expand="block" [replaceUrl]="true"  [routerLink]="['/places/add']">{{ 'buttons.add' | translate }}</ion-button>
</ion-content>
