.export-buttons ion-button {
    width: 100%;
    height: 36px;
}

ion-grid, ion-col {
    padding-top: 0;
    padding-bottom: 0;
}

ion-item {
    --padding-start: 8px;
    --min-height: 48px;
}


.action-row {
    padding-right: 15px;
}

@media (min-width: 750px) {
    .action-row {
        padding-right: 0;
    }
}
