.export-buttons ion-button {
    width: 100%;
    height: 36px;
}

.placeRow {
    max-height: 0px;
    line-height: 60px;
    margin-top: -42px;
}

.placeRow .item-native {
    max-height: 50px !important;
}

.placeRow span {
    overflow-x: hidden;
    text-overflow: ellipsis;
    width: 150px;
    white-space: nowrap;
    display: inline-block;
}

.placeRow .placeAltitude {
    min-width: 50px;
    width: 50px;
}

.placeRow .placeName {
    min-width: 300px;
}

.placeRow .placeCountry {
    width: auto;
}

@media (max-width: 413px) {
    .placeRow .placeCountry {
        text-overflow: unset;
    }

    .placeRow .placeName {
        min-width: 165px;
    }

    .placeRow .placeCountry {
        min-width: 50px;
        width: 50px;
    }
}

ion-item {
    --min-height: 48px;
}