<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>486193508938-evcita0pqmb52ihdrhumpq6s3l7ah33v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.486193508938-evcita0pqmb52ihdrhumpq6s3l7ah33v</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>486193508938-29ap79hn3maco5lk9lajapl5el8gul7g.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAb6_DfgPIJbfGU1W_ZY__5s7GYdS2uMHo</string>
	<key>GCM_SENDER_ID</key>
	<string>486193508938</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ch.flightbook</string>
	<key>PROJECT_ID</key>
	<string>flightbook-349220</string>
	<key>STORAGE_BUCKET</key>
	<string>flightbook-349220.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:486193508938:ios:6fe38fc276b773929aecb3</string>
</dict>
</plist>